/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 */

/* Aufgaben block */
.wp-block-us-aufgaben-block {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: tomato;
	font-size: 1.5rem;
	font-weight: bold;
}
.wp-block-us-aufgaben-block:before {
	content: ' ';
	background-image: url('./task.svg');
	background-repeat: no-repeat;
	background-size: 40px 40px;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
/* Video block */
.wp-block-us-video-block {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: tomato;
	font-size: 1.5rem;
	font-weight: bold;
}
.wp-block-us-video-block:before {
	content: ' ';
	background-image: url('./video.svg');
	background-repeat: no-repeat;
	background-size: 40px 40px;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
/* Lösung block */
.wp-block-us-loesung-block {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: tomato;
	font-size: 1.5rem;
	font-weight: bold;
}
.wp-block-us-loesung-block:before {
	content: ' ';
	background-image: url('./loesung.svg');
	background-repeat: no-repeat;
	background-size: 40px 40px;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}


/* info block = blau */
.wp-block-us-info-block {
	display: flex;
	position: relative;
	padding: 0.5rem 0.5rem 0.5rem 3rem;
	border-width: 0 0 0 5px;
    border-style: solid;
    border-color: #6AB0DE;
    background: #E7F2FA;
}
.wp-block-us-info-block:before {
	position: absolute;
	left: 5px;
	content: ' ';
	background-image: url('./book.svg');
	background-repeat: no-repeat;
	background-size: 25px 25px;
	height: 25px;
	width: 25px;
	margin: 3px 10px 5px 5px;
}


/* alert block = rot */
.wp-block-us-alert-block {
	display: flex;
	position: relative;
	padding: 0.5rem 0.5rem 0.5rem 3rem;
	border-width: 0 0 0 5px;
    border-style: solid;
    border-color: #E06F6C;
    background: #FAE2E2;
}
.wp-block-us-alert-block:before {
	position: absolute;
	left: 5px;
	content: ' ';
	background-image: url('./alert.svg');
	background-repeat: no-repeat;
	background-size: 25px 25px;
	height: 25px;
	width: 25px;
	margin: 3px 10px 5px 5px;
}


/* notiz block = gelb */
.wp-block-us-notiz-block {
	display: flex;
	position: relative;
	padding: 0.5rem 0.5rem 0.5rem 3rem;
	border-width: 0 0 0 5px;
    border-style: solid;
    border-color: #F0B37E;
    background: #FFF2DB;
}
.wp-block-us-notiz-block:before {
	position: absolute;
	left: 5px;
	content: ' ';
	background-image: url('./note.svg');
	background-repeat: no-repeat;
	background-size: 25px 25px;
	height: 25px;
	width: 25px;
	margin: 3px 10px 5px 5px;
}


/* tipp block = grün */
.wp-block-us-tipp-block {
	display: flex;
	position: relative;
	padding: 0.5rem 0.5rem 0.5rem 3rem;
	border-width: 0 0 0 5px;
    border-style: solid;
    border-color: #78C578;
    background: #E6F9E6;
}
.wp-block-us-tipp-block:before {
	position: absolute;
	left: 5px;
	content: ' ';
	background-image: url('./chat.svg');
	background-repeat: no-repeat;
	background-size: 25px 25px;
	height: 25px;
	width: 25px;
	margin: 3px 10px 5px 5px;
}

