/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 */

/* Aufgaben block */
.wp-block-us-aufgaben-block {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: tomato;
	font-size: 1.5rem;
	font-weight: bold;
}
.wp-block-us-aufgaben-block:before {
	content: ' ';
	background-image: url('./task.svg');
	background-size: 40px 40px;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
/* Video block */
.wp-block-us-video-block {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: tomato;
	font-size: 1.5rem;
	font-weight: bold;
}
.wp-block-us-video-block:before {
	content: ' ';
	background-image: url('./video.svg');
	background-size: 40px 40px;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
/* Lösung block */
.wp-block-us-loesung-block {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: tomato;
	font-size: 1.5rem;
	font-weight: bold;
}
.wp-block-us-loesung-block:before {
	content: ' ';
	background-image: url('./loesung.svg');
	background-size: 40px 40px;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

/* info block */
.wp-block-us-info-block {
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}
.wp-block-us-info-block:before {
	margin-top: -25px;
	display: block;
	content: ' ';
	background-image: url('./info.svg');
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
}
.wp-block-us-info-block::after {
	top: 0;
	margin-top: -32px;
	content: 'Info';
	position: absolute;
    color: #fff;
    left: 2rem;
    font-weight: bold;
}

/* alert block */
.wp-block-us-alert-block {
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}
.wp-block-us-alert-block:before {
	margin-top: -25px;
	display: block;
	content: ' ';
	background-image: url('./info.svg');
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
}
.wp-block-us-alert-block::after {
	top: 0;
	margin-top: -32px;
	content: 'Achtung';
	position: absolute;
    color: #fff;
    left: 2rem;
    font-weight: bold;
}

/* notiz block */
.wp-block-us-notiz-block {
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}
.wp-block-us-notiz-block:before {
	margin-top: -25px;
	display: block;
	content: ' ';
	background-image: url('./info.svg');
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
}
.wp-block-us-notiz-block::after {
	top: 0;
	margin-top: -32px;
	content: 'Notiz';
	position: absolute;
    color: #fff;
    left: 2rem;
    font-weight: bold;
}

/* tipp block = grün */
.wp-block-us-tipp-block {
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6;
}
.wp-block-us-tipp-block:before {
	margin-top: -25px;
	display: block;
	content: ' ';
	background-image: url('./info.svg');
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
}
.wp-block-us-tipp-block::after {
	top: 0;
	margin-top: -32px;
	content: 'Tipp';
	position: absolute;
    color: #fff;
    left: 2rem;
    font-weight: bold;
}